<header>
    <link rel="stylesheet" href="../../static/css/simulator.css">
    <h1>PIDシミュレータの設定</h1>
</header>

<nav>
    <ul>
        <li><a href="https://www.rkcinst.co.jp/">RKC Home</a> </li>
        <li><a href="{% url 'firstsimulator:modelingWithFile'  %}">実測データを取り込んでシステム同定する</a> </li>
        <li><a href="{% url 'firstsimulator:pidsimulator'  %}">PID シミュレータ</a> </li>
    </ul>
</nav>
<main>
<aside>
    <h2>参照コンテンツ</h2>
    <ul>
        <li><a href="https://www.rkcinst.co.jp/technical_commentary/13090/">PID制御とは</a> </li>
        <li><a href="https://www.rkcinst.co.jp/technical_commentary/658221/">PID制御の仕組み</a> </li>
        <li><a href="https://www.rkcinst.co.jp/technical_commentary/13091/">制御性向上のために</a> </li>
        <li><a href="#">ARWとRFB</a> </li>
        <li><a href="#">外乱抑制制御機能の紹介</a> </li>
    </ul>
</aside>
</main>
